# macOS junk
.DS_Store
.AppleDouble
.LSOverride
._*

# Editor directories
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite

# Dependency directories (Adjust based on your language)
node_modules/
dist/
__pycache__/
*.pyc
.env